In [2]:
import pandas as pd
import numpy as np
import matplotlib 
import matplotlib.pyplot as plt

from datetime import datetime

The Washington DC government posts all of its public Data via the [Open Data Portal](https://opendata.dc.gov/). Parking Enforcement data is available in a variety of formats on a month by month basis. I downloaded that datasets in bulk and stitched them together into the dataset being imported below. I am hosting it for the time being on my personal dropbox. Over time, that may change. [Dataset](https://www.dropbox.com/s/9xzrr4u5n266yrq/Parking%20Violations.csv?dl=1)

In [7]:
df = pd.read_csv('/Users/azel/Documents/Data Sets/DC Data/Parking Enforcement/Combined /Parking Violations.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
print()
print(data.info())
print()
print(data.isnull().sum())
print()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14424762 entries, 0 to 14424761
Data columns (total 19 columns):
X                        float64
Y                        float64
OBJECTID                 int64
ROWID_                   float64
DAY_OF_WEEK              object
HOLIDAY                  float64
WEEK_OF_YEAR             float64
MONTH_OF_YEAR            float64
ISSUE_TIME               float64
VIOLATION_CODE           object
VIOLATION_DESCRIPTION    object
LOCATION                 object
RP_PLATE_STATE           object
BODY_STYLE               object
ADDRESS_ID               int64
STREETSEGID              float64
XCOORD                   int64
YCOORD                   int64
TICKET_ISSUE_DATE        object
dtypes: float64(8), int64(4), object(7)
memory usage: 2.0+ GB
None

X                              0
Y                              0
OBJECTID                       0
ROWID_                   2595214
DAY_OF_WEEK              4432946
HOLIDAY                  4432946
WEEK_OF_YEAR             4432946
MONTH_OF_YEAR            4432946
ISSUE_TIME               4441201
VIOLATION_CODE                 0
VIOLATION_DESCRIPTION     393266
LOCATION                       0
RP_PLATE_STATE             55183
BODY_STYLE               4379039
ADDRESS_ID                     0
STREETSEGID                32725
XCOORD                         0
YCOORD                         0
TICKET_ISSUE_DATE              0
dtype: int64

,X,Y,OBJECTID,ROWID_,DAY_OF_WEEK,HOLIDAY,WEEK_OF_YEAR,MONTH_OF_YEAR,ISSUE_TIME,VIOLATION_CODE,VIOLATION_DESCRIPTION,LOCATION,RP_PLATE_STATE,BODY_STYLE,ADDRESS_ID,STREETSEGID,XCOORD,YCOORD,TICKET_ISSUE_DATE
0,-76.990883,38.901329,24651355,15241.0,THURSDAY,0.0,36.0,9.0,2109.0,P012,DISOBEYING OFFICIAL SIGN,1200 BLOCK I ST NE NORTH SIDE,NY,4D,801937,2090.0,400791,137052,2011-09-01T00:00:00.000Z
1,-77.028853,38.917009,24651356,15242.0,THURSDAY,0.0,36.0,9.0,2158.0,P039,PARK AT EXPIRED METER,1300 BLOCK U ST NW NORTH SIDE,MD,4D,809133,7819.0,397498,138793,2011-09-01T00:00:00.000Z
2,-77.013880,38.888564,24651357,15243.0,THURSDAY,0.0,36.0,9.0,927.0,P036,PARK IN OFFICIAL PARKING PERMIT ONLY SPACE,200 MARYLAND AV SW,DC,TK,801240,1186.0,398796,135635,2011-09-01T00:00:00.000Z
3,-77.054309,38.926666,24651358,15244.0,THURSDAY,0.0,36.0,9.0,107.0,P172,FAILURE TO SECURE DC TAGS,2600 BLOCK GARFIELD ST NW NORTH SID,NJ,4D,806063,5205.0,395291,139866,2011-09-01T00:00:00.000Z
4,-77.023957,38.897877,24651359,15245.0,THURSDAY,0.0,36.0,9.0,1011.0,P199,PARK IN A DESIGNATED ENTRANCE,700 9TH ST NW BLOCK EAST SIDE,DC,NaN,813593,11702.0,397922,136669,2011-09-01T00:00:00.000Z

In [4]:
df = data[['TICKET_ISSUE_DATE']]

In [8]:
%%time
df['TICKET_ISSUE_DATE'] = pd.to_datetime(df['TICKET_ISSUE_DATE'],infer_datetime_format = True)

CPU times: user 22 s, sys: 472 ms, total: 22.5 s
Wall time: 21.3 s

In [9]:
%%time
df['TICKET_ISSUE_DATE'] = pd.to_datetime(df['TICKET_ISSUE_DATE'])

CPU times: user 222 ms, sys: 129 ms, total: 351 ms
Wall time: 90.1 ms

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14424762 entries, 0 to 14424761
Data columns (total 19 columns):
X                        float64
Y                        float64
OBJECTID                 int64
ROWID_                   float64
DAY_OF_WEEK              object
HOLIDAY                  float64
WEEK_OF_YEAR             float64
MONTH_OF_YEAR            float64
ISSUE_TIME               float64
VIOLATION_CODE           object
VIOLATION_DESCRIPTION    object
LOCATION                 object
RP_PLATE_STATE           object
BODY_STYLE               object
ADDRESS_ID               int64
STREETSEGID              float64
XCOORD                   int64
YCOORD                   int64
TICKET_ISSUE_DATE        datetime64[ns]
dtypes: datetime64[ns](1), float64(8), int64(4), object(6)
memory usage: 2.0+ GB

In [39]:
from datetime import datetime

In [47]:
datetime_dtypes = ['<M8[ns]','datetime64[ns]']

In [13]:
derp = df['TICKET_ISSUE_DATE'].map(lambda x: x.strftime('%Y'))

In [55]:
df['TICKET_ISSUE_DATE'].dtype.str == 'datetime64[ns]'

False

In [10]:
%%time
df['YEAR'] = df['TICKET_ISSUE_DATE'].map(lambda x: x.strftime('%Y'))

CPU times: user 1min 31s, sys: 2.28 s, total: 1min 34s
Wall time: 1min 34s

In [11]:
df['YEAR']

0           2011
1           2011
2           2011
3           2011
4           2011
5           2011
6           2011
7           2011
8           2011
9           2011
10          2011
11          2011
12          2011
13          2011
14          2011
15          2011
16          2011
17          2011
18          2011
19          2011
20          2011
21          2011
22          2011
23          2011
24          2011
25          2011
26          2011
27          2011
28          2011
29          2011
            ...
14424732    2013
14424733    2013
14424734    2013
14424735    2013
14424736    2013
14424737    2013
14424738    2013
14424739    2013
14424740    2013
14424741    2013
14424742    2013
14424743    2013
14424744    2013
14424745    2013
14424746    2013
14424747    2013
14424748    2013
14424749    2013
14424750    2013
14424751    2013
14424752    2013
14424753    2013
14424754    2013
14424755    2013
14424756    2013
14424757    2013
14424758    2013
14424759    2013
14424760    2013
14424761    2013
Name: YEAR, Length: 14424762, dtype: object

In [12]:
%%time 
df['TICKET_ISSUE_DATE'].apply(lambda x: x.strftime('%m'))

CPU times: user 1min 26s, sys: 1.74 s, total: 1min 27s
Wall time: 1min 28s

0           01
1           01
2           01
3           01
4           01
5           01
6           01
7           01
8           01
9           01
10          01
11          01
12          01
13          01
14          01
15          01
16          01
17          01
18          01
19          01
20          01
21          01
22          01
23          01
24          01
25          01
26          01
27          01
28          01
29          01
            ..
14424732    01
14424733    01
14424734    01
14424735    01
14424736    01
14424737    01
14424738    01
14424739    01
14424740    01
14424741    01
14424742    01
14424743    01
14424744    01
14424745    01
14424746    01
14424747    01
14424748    01
14424749    01
14424750    01
14424751    01
14424752    01
14424753    01
14424754    01
14424755    01
14424756    01
14424757    01
14424758    01
14424759    01
14424760    01
14424761    01
Name: TICKET_ISSUE_DATE, Length: 14424762, dtype: object